OPENAI_API_KEY=
OPENAI_MODEL_EXTRACTOR=gpt-4o
OPENAI_MODEL_VALIDATOR=gpt-4.1-mini
OPENAI_MODEL_ROUTER=gpt-4.1-mini

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL_EXTRACTOR=claude-3-7-sonnet-latest
ANTHROPIC_MODEL_VALIDATOR=claude-3-5-sonnet-latest
ANTHROPIC_MODEL_ROUTER=claude-3-5-haiku-latest
